@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

@layer base {
  :root {
    font-family: Inter;
    
    --background: #ffffff; /* HSL(0 0% 100%) */
    --foreground: #1b1f23; /* HSL(224 71.4% 4.1%) */
    --card: #ffffff; /* HSL(0 0% 100%) */
    --card-foreground: #1b1f23; /* HSL(224 71.4% 4.1%) */
    --popover: #ffffff; /* HSL(0 0% 100%) */
    --popover-foreground: #1b1f23; /* HSL(224 71.4% 4.1%) */
    --primary: #7eafce; /* HSL(220.9 39.3% 11%) */
    --primary-foreground: #f2f4f7; /* HSL(210 20% 98%) */
    --secondary: #e0e5ef; /* HSL(220 14.3% 95.9%) */
    --secondary-foreground: #1c2933; /* HSL(220.9 39.3% 11%) */
    --muted: #e0e5ef; /* HSL(220 14.3% 95.9%) */
    --muted-foreground: #4d5666; /* HSL(220 8.9% 46.1%) */
    --accent: #e0e5ef; /* HSL(220 14.3% 95.9%) */
    --accent-foreground: #1c2933; /* HSL(220.9 39.3% 11%) */
    --destructive: #e63946; /* HSL(0 84.2% 60.2%) */
    --destructive-foreground: #f2f4f7; /* HSL(210 20% 98%) */
    --success: #2b8a3e; /* HSL(135 53.3% 31.4%) */
    --success-foreground: #f2f4f7; /* HSL(210 20% 98%) */
    --border: #ccd0d9; /* HSL(220 13% 91%) */
    --input: #ccd0d9; /* HSL(220 13% 91%) */
    --ring: #1b1f23; /* HSL(224 71.4% 4.1%) */
    --radius: 0.5rem;
    --chart-1: #eb6d56; /* HSL(12 76% 61%) */
    --chart-2: #2d8679; /* HSL(173 58% 39%) */
    --chart-3: #184b5a; /* HSL(197 37% 24%) */
    --chart-4: #ffb340; /* HSL(43 74% 66%) */
    --chart-5: #ff914d; /* HSL(27 87% 67%) */
  }

  .dark {
    --background: #1b1f23; /* HSL(224 71.4% 4.1%) */
    --foreground: #f2f4f7; /*HSL(210 20% 98%) */
    --card: #384048; /* HSL(224 71.4% 4.1%) */
    --card-foreground: #f2f4f7; /* HSL(210 20% 98%) */
    --popover: #1b1f23; /* HSL(224 71.4% 4.1%) */
    --popover-foreground: #f2f4f7; /* HSL(210 20% 98%) */
    --primary: #3f7ea6; /* HSL(235 86% 65%) */
    --primary-foreground: #1c2933; /* HSL(220.9 39.3% 11%) */
    --secondary: #2b3c45; /* HSL(215 27.9% 16.9%) */
    --secondary-foreground: #f2f4f7; /* HSL(210 20% 98%) */
    --muted: #2b3c45; /* HSL(215 27.9% 16.9%) */
    --muted-foreground: #6a8fa8; /* HSL(217.9 10.6% 64.9%) */
    --accent: #2b3c45; /* HSL(215 27.9% 16.9%) */
    --accent-foreground: #f2f4f7; /* HSL(210 20% 98%) */
    --destructive: #8b2e2e; /* HSL(0 62.8% 30.6%) */
    --destructive-foreground: #f2f4f7; /* HSL(210 20% 98%) */
    --border: #2b3c45; /* HSL(215 27.9% 16.9%) */
    --input: #2b3c45; /* HSL(215 27.9% 16.9%) */
    --ring: #cbd1d1; /* HSL(216 12.2% 83.9%) */
    --chart-1: #3393e0; /* HSL(220 70% 50%) */
    --chart-2: #3f9c6b; /* HSL(160 60% 45%) */
    --chart-3: #cc8635; /* HSL(30 80% 55%) */
    --chart-4: #be6bb5; /* HSL(280 65% 60%) */
    --chart-5: #d13b6f; /* HSL(340 75% 55%) */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* 
.color {
  color: #1b1f23b2;
} */

#modal-container {
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* Optional: for dimmed background */
  z-index: 1000; /* High z-index to ensure it's on top */
}

/* Modal styles */
.popover-content {
  width: 90%; /* Responsive width, max 90% of the screen width */
  max-width: 600px; /* Maximum width */
  padding: 20px; /* Padding inside the modal */
  background: var(--background);
  border-radius: 8px; /* Rounded corners for the modal */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow */
  overflow-y: auto; /* Ensures scrollability */
}

.terms-text {
  max-height: 50vh; /* Limit the height to make the content scrollable */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Adjustments for very small screens */
@media (max-width: 480px) {
  .popover-content {
    max-width: 90%; /* Further tighten the width on small devices */
  }
}

@media (max-width: 360px) {
  .popover-content {
    max-width: 90%; /* Even narrower on very small devices */
  }
}

/* Additional styles for headers in the popover content */
.popover-content h4, .popover-content h5 {
  color: var(--primary);
  padding-bottom: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
}

/* Improved list styling */
.popover-content ul {
  padding-left: 1rem;
}

/* Terms text specific styling */
.terms-text p, .terms-text ul {
  margin-bottom: 1rem;
}
